{% extends 'base.html.twig' %}

{% block body %}
    <div class="App">
        <header class="App-header">
            <h1>Bienvenue dans le gestionnaire de bénéficiaires Reconnect</h1>
            <hr/>
            {# Afficher les informations de l'utilisateur #}
            <div class="User-info">
                <p>Utilisateur connecté : {{ user.username }}</p>
            </div>
        </header>
        <main class="App-main">
            <h3>Personnes stockées en base</h3>
            <div class="Beneficiaries-list">
                {% for beneficiary in listbeneficiaries %}
                    <div class="Beneficiary-card" key="{{ beneficiary.name }}">
                        <img src="https://api.dicebear.com/8.x/avataaars/svg?seed={{ beneficiary.name }}" alt="{{ beneficiary.name }}"/>
                        <span>{{ beneficiary.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr/>
            <h3>Personnes non stockées</h3>
            <div class="Beneficiaries-list">
                {% for beneficiary in beneficiaries %}
                    <div class="Beneficiary-card" key="{{ beneficiary.name }}">
                        <img src="https://api.dicebear.com/8.x/avataaars/svg?seed={{ beneficiary.name }}" alt="{{ beneficiary.name }}"/>
                        <span>{{ beneficiary.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}